body{
      background-color:bisque
}
.container{
    background-color: cadetblue;
    height: 400px;
    border: 2px solid red;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.child1,.child2,.child3{
    height: 200px;
    border: 1px dotted blue;
    width: 300px;
    padding: 40px;
    margin: 40px;
    background-color:darkgreen;

}
.child1{
    background-color: aqua;


}
.child2{
    background-color: azure;
}
.child3{
    background-color: darkgoldenrod;
}
